@font-face {
	font-family: 'Gkktt'; 
	src: url("./fonts/851Gkktt.ttf") format("truetype");
}

* {
	/*outline: 2px red solid;*/
}

html {
	scroll-behavior: smooth;
	font-size: 1vw;
}

body {
	font-family: "851Gkktt", sans-serif;
	margin: 0;
	background-color: #090e1f;
}

/*topセクションのCSS*/

#top {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.pc-nav {
	position: fixed;
	display: flex;
	justify-content: end;
	align-items: center;
	padding-right: 5vw;
	width: 100%;
	height: 6vw;
	top:  0;
	z-index: 999;
}

.pc-nav ul {
	display: flex;
	list-style: none;
	width: fit-content;
	padding: 0;
}

.pc-nav ul li {
	margin: 0 1vw;

}

.pc-nav ul li a {
 	color: #5d7ea3;
 	font-size: 2.2rem;
 	text-decoration: none;
 }

.pc-nav ul li a:hover {
 	
 }

 .sp-nav {
 	display: none;
 }

 #top p {
 	position: absolute;
 	color: #dddddd;
 	font-size: 4.4rem;
 	line-height: 6rem;
 }

 .p5Canvas {
 	position: fixed;
 	z-index: -999;
 }

 /*profileセクションのCSS*/

 #profile {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	width: 100%;
 	height: fit-content;
 	background-color: black;
 	padding: 4vw 0;
 }

.profile-content {
	width: 80%;
	margin: 4vw 0;
	
}

.profile-inner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-inner img {
	width: 15%;
	border-radius: 50%;
}

.profile-text {
	font-family: 'Noto Sans JP', sans-serif;
	color: white;
	margin-left: 5vw;
}

.profile-text h3 {
	margin-top: 0;
	font-size: 2rem;
	font-weight: 900;
}

.profile-text p {
	margin-bottom: 0;
	font-size: 1.5rem;
	font-weight: 900;
}

/*SiteセクションのCSS*/

#site {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;  /*仮の色*/
}

.site-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 900;
}

.site-font h3, .site-color h3, .site-lang h3, .site-res h3 {
	font-size: 2rem;
}

.site-font {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.font-inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 84%;
}

.font-inner a {
	font-size: 2rem;
	color: #5d7ea3;
}

.font-inner a:nth-child(1) {
	vertical-align: -1em;
	font-family: "851Gkktt", sans-serif;
}

.site-color {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.color-inner {
	display: flex;
	justify-content: space-between;
	width: 100%;

}

.color-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.color-div span {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: solid 1px white;
	background-color: white;
}

.color-1 span {
	background-color: #090e1f;
}

.color-2 span {
	background-color: #192f60;
}

.color-3 span {
	background-color: #5d7ea3;
}

.color-5 span {
	background-color: #dddddd;
}

.lang-inner {
	display: flex;
	justify-content: center;
}

.lang-div img {
	width: 200px;
}





 /*セクション共通のCSS*/

section {
	overflow: hidden; /*タイトルのmarginがはみ出すのを防ぐため*/
}

 .section-ttl {
 	color: white;
 	width: 100%;
 	text-align: center;
 	font-size: 4.4rem;
 	margin: 4vw 0;
 }


 @media screen and (max-width: 599px) {
 	.pc-nav {
 		display: none;
 	}

 	.sp-nav {

 	}

 	#top p {
 		font-size: 6.4rem;
 	}

 	.section-ttl {
 		font-size: 6rem;
 	}

 	.profile-inner {
 		flex-direction: column;
 	}

 	.profile-inner img {
 		width: 30%;
 	}

 	.profile-text {
 		margin-top: 5vw;
 		margin-left: 0;
 	}

 	.profile-text h3 {
 		font-size: 4.6rem;
 		text-align: center;
 	} 

 	.profile-text p {
 		font-size: 3rem;
 		text-align: center;
 	}



 }
